<html>
  <head>
    <title>Ashley's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">A Sunny Saturday at Wunderdog</a></h1>
    </div>

    <!-- <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique a hic ab dolore, eius quod aut deserunt laboriosam ipsam ipsum soluta, magni porro tempore consequatur totam quia? Animi, tempora eum?</p>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div> -->
    {% for post in posts %}
    <div>
      <p>published: {{ post.published_date }}</p>
      <h2>
        <a href="">{{ post.title }}</a>
      </h2>
      <p>{{ post.text | linebreaksbr }}</p>
    </div>
    {% endfor %}
  </body>
</html>
