@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
  background-color: #2d2f3d;
  color: #f1f1f1;
  font-family: "Press Start 2P", cursive;
}
h1 a,
h2 a {
  color: #01d301;
}
